* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    position: relative;
    user-select: none;
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* ----------=========== cube ===========---------- */

.cube,
.smallCube,
.smallerCube {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transform-style: preserve-3d;
    animation: rotate 10s ease infinite;
}

@keyframes rotate {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }

    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

.cube div:not(.smallCube):not(.smallerCube) {
    position: absolute;
    background: transparent;
    border: 1px solid orange;
    color: #ffff;
    width: 100%;
    height: 100%;
}

.up {
    transform: translateY(-50px) rotateX(90deg);
}

.left {
    transform: translateX(50px) rotateY(90deg);
}

.before {
    transform: translateZ(50px)
}

.after {
    transform: translateZ(-50px);
}

.right {
    transform: translateX(-50px) rotateY(90deg);
}

.down {
    transform: translateY(50px) rotateX(90deg);
}

/* ----------=========== smallCube ===========---------- */

.smallCube {
    width: 50px;
    height: 50px;
}

.upSmallCube {
    transform: translateY(-25px) rotateX(90deg);
}

.leftSmallCube {
    transform: translateX(25px) rotateY(90deg);
}

.beforeSmallCube {
    transform: translateZ(25px);
}

.afterSmallCube {
    transform: translateZ(-25px);
}

.rightSmallCube {
    transform: translateX(-25px) rotateY(90deg);
}

.downSmallCube {
    transform: translateY(25px) rotateX(90deg);
}

/* ----------=========== smallCube ===========---------- */

.smallerCube {
    width: 25px;
    height: 25px;
}

.smallerCube div {
    background: orangered !important; 
    border: unset !important;
}

.upSmallerCube {
    transform: translateY(-12.5px) rotateX(90deg);
}

.leftSmallerCube {
    transform: translateX(12.5px) rotateY(90deg);
}

.beforeSmallerCube {
    transform: translateZ(12.5px);
}

.afterSmallerCube {
    transform: translateZ(-12.5px);
}

.rightSmallerCube {
    transform: translateX(-12.5px) rotateY(90deg);
}

.downSmallerCube {
    transform: translateY(12.5px) rotateX(90deg);
}